<a href="https://colab.research.google.com/github/alt41r/hello-world/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

ratings_df = pd.read_csv('ratings.csv')
print('Unique users count: {}'.format(len(ratings_df['userId'].unique())))
print('Unique movies count: {}'.format(len(ratings_df['movieId'].unique())))
print('DataFrame shape: {}'.format(ratings_df.shape))

ratings_df.head()

Unique users count: 5257
Unique movies count: 13571
DataFrame shape: (788799, 4)

   userId  movieId  rating     timestamp
0       1      2.0     3.5  1.112486e+09
1       1     29.0     3.5  1.112485e+09
2       1     32.0     3.5  1.112485e+09
3       1     47.0     3.5  1.112485e+09
4       1     50.0     3.5  1.112485e+09

In [ ]:
n = 100000
ratings_df_sample = ratings_df[:n]

n_users = len(ratings_df_sample['userId'].unique())
n_movies = len(ratings_df_sample['movieId'].unique())
(n_users, n_movies)

(702, 8227)

In [ ]:
movie_ids = ratings_df_sample['movieId'].unique()

def scale_movie_id(movie_id):
    scaled = np.where(movie_ids == movie_id)[0][0] + 1
    return scaled

ratings_df_sample['movieId'] = ratings_df_sample['movieId'].apply(scale_movie_id)
ratings_df_sample.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   userId  movieId  rating     timestamp
0       1        1     3.5  1.112486e+09
1       1        2     3.5  1.112485e+09
2       1        3     3.5  1.112485e+09
3       1        4     3.5  1.112485e+09
4       1        5     3.5  1.112485e+09

In [ ]:
from sklearn.model_selection import train_test_split

train_data,test_data = train_test_split(ratings_df_sample,test_size = 0.2)
print('Train shape: {}'.format(train_data.shape))
print('Test shape: {}'.format(test_data.shape))

Train shape: (80000, 4)
Test shape: (20000, 4)

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

def rmse(prediction, ground_truth):
  prediction= np.nan_to_num(prediction)[ground_truth.nonzero()].flatten()
  ground_truth = np.nan_to_num(ground_truth)[ground_truth.nonzero()].flatten()
  mse = mean_squared_error(prediction,ground_truth)
  return mse

In [ ]:
train_data_matrix = np.zeros((n_users, n_movies))
for line in train_data.itertuples():
  train_data_matrix[line[1]-1,line[2]-1]= line[3]

test_data_matrix = np.zeros((n_users,n_movies))
for line in test_data.itertuples():
  test_data_matrix[line[1]-1,line[2]-1]=3

In [ ]:
from sklearn.metrics.pairwise import pairwise_distances

user_similarity = pairwise_distances(train_data_matrix,metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T,metric='cosine')

In [ ]:
from scipy.spatial import distance
print(distance.cosine([2,2],[1,1])) 
print(distance.cosine([3,3],[2,3]))
print(distance.cosine([3, 3],[1, 1.5]))
print(distance.cosine([3, 3],[1, 3]))
demo_data = [[5,5,5,0,0], [4,1,0,5,3], [1,0,0,5,0], [5,0,5,0,4]]
pairwise_distances(demo_data, metric='cosine')

0.0
0.01941932430907989
0.01941932430907989
0.10557280900008414

array([[1.11022302e-16, 5.95773958e-01, 8.86772297e-01, 2.89330945e-01],
       [5.95773958e-01, 1.11022302e-16, 2.03609197e-01, 4.48439797e-01],
       [8.86772297e-01, 2.03609197e-01, 0.00000000e+00, 8.79298863e-01],
       [2.89330945e-01, 4.48439797e-01, 8.79298863e-01, 2.22044605e-16]])

In [ ]:
def naive_predict(top):
    # Структура для хранения для каждого пользователя оценки фильмов top наиболее похожих на него пользователей:
    # top_similar_ratings[0][1] - оценки всех фильмов одного из наиболее похожих пользователей на пользователя с ид 0.
    # Здесь 1 - это не ид пользователя, а просто порядковый номер.
    top_similar_ratings = np.zeros((n_users, top, n_movies))

    for i in range(n_users):
        # Для каждого пользователя необходимо получить наиболее похожих пользователей:
        # Нулевой элемент не подходит, т.к. на этом месте находится похожесть пользователя самого на себя
        top_sim_users = user_similarity[i].argsort()[1:top + 1]
        
        # берём только оценки из "обучающей" выборки 
        top_similar_ratings[i] = train_data_matrix[top_sim_users]

    pred = np.zeros((n_users, n_movies))
    for i in range(n_users):
        pred[i] = top_similar_ratings[i].sum(axis=0) / top
    
    return pred


def naive_predict_item(top):
    top_similar_ratings = np.zeros((n_movies, top, n_users))

    for i in range(n_movies):
        top_sim_movies = item_similarity[i].argsort()[1:top + 1]
        top_similar_ratings[i] = train_data_matrix.T[top_sim_movies]
        
    pred = np.zeros((n_movies, n_users))
    for i in range(n_movies):
        pred[i] = top_similar_ratings[i].sum(axis=0) / top
    
    return pred.T

naive_pred = naive_predict(7)
print('User-based CF RMSE: ', rmse(naive_pred, test_data_matrix))

naive_pred_item = naive_predict_item(7)
print('Item-based CF RMSE: ', rmse(naive_pred_item, test_data_matrix))

User-based CF RMSE:  4.943794387755103
Item-based CF RMSE:  5.718505612244899